<div class="main-sidebar">
	<div class="main-menu">
		<ul class="sidebar-menu scrollable">
			<li class="sidebar-item has-sub">
				<a asp-action="Index" role="button" class="sidebar-link-group-title show">Dashboard</a>
			</li>
			<li class="sidebar-item has-sub">
				<a role="button" class="sidebar-link-group-title show">Programmes</a>
				<ul class="sidebar-link-group">

					<li class="sidebar-dropdown-item">
						<a asp-controller="Programmes" asp-action="ProgGeneralInformation" class="sidebar-link">
							<span class="nav-icon">
								<i class="fa-solid fa-grip-lines"></i>
							</span> <span class="sidebar-txt">General Information</span>
						</a>
					</li>
					<li class="sidebar-dropdown-item">
						<a asp-controller="Setup" asp-action="Bank" class="sidebar-link">
							<span class="nav-icon">
								<i class="fa-solid fa-grip-lines"></i>
							</span> <span class="sidebar-txt">Cost Estimates</span>
						</a>
					</li>
					<li class="sidebar-dropdown-item">
						<a asp-controller="Setup" asp-action="Bank" class="sidebar-link">
							<span class="nav-icon">
								<i class="fa-solid fa-grip-lines"></i>
							</span> <span class="sidebar-txt">Collaborative Agencies</span>
						</a>
					</li>
					<li class="sidebar-dropdown-item">
						<a asp-controller="Setup" asp-action="Bank" class="sidebar-link">
							<span class="nav-icon">
								<i class="fa-solid fa-grip-lines"></i>
							</span> <span class="sidebar-txt">Programme Documents</span>
						</a>
					</li>
					<li class="sidebar-dropdown-item">
						<a asp-controller="Setup" asp-action="Bank" class="sidebar-link">
							<span class="nav-icon">
								<i class="fa-solid fa-grip-lines"></i>
							</span> <span class="sidebar-txt">Projects</span>
						</a>
					</li>

				</ul>
			</li>
		</ul>
	</div>
</div>