<div class="main-sidebar">
	<div class="main-menu">
		<ul class="sidebar-menu scrollable">
			<li class="sidebar-item has-sub">
				<a asp-action="Index" role="button" class="sidebar-link-group-title show">Dashboard</a>
			</li>
			<li class="sidebar-item has-sub">
				<a role="button" class="sidebar-link-group-title show">Setup</a>
				<ul class="sidebar-link-group">

					<li class="sidebar-dropdown-item">
						<a asp-controller="Setup" asp-action="Bank" class="sidebar-link">
							<span class="nav-icon">
								<i class="fa-solid fa-grip-lines"></i>
							</span> <span class="sidebar-txt">Library Items</span>
						</a>
					</li>
					<li class="sidebar-dropdown-item">
						<a asp-controller="Setup" asp-action="Bank" class="sidebar-link">
							<span class="nav-icon">
								<i class="fa-solid fa-grip-lines"></i>
							</span> <span class="sidebar-txt">Provisional Sums</span>
						</a>
					</li>
					<li class="sidebar-dropdown-item">
						<a asp-controller="Setup" asp-action="Bank" class="sidebar-link">
							<span class="nav-icon">
								<i class="fa-solid fa-grip-lines"></i>
							</span> <span class="sidebar-txt">Standard Bills</span>
						</a>
					</li>
					<li class="sidebar-dropdown-item">
						<a asp-controller="Setup" asp-action="Bank" class="sidebar-link">
							<span class="nav-icon">
								<i class="fa-solid fa-grip-lines"></i>
							</span> <span class="sidebar-txt">Units</span>
						</a>
					</li>
					<li class="sidebar-dropdown-item">
						<a asp-controller="Setup" asp-action="Bank" class="sidebar-link">
							<span class="nav-icon">
								<i class="fa-solid fa-grip-lines"></i>
							</span> <span class="sidebar-txt">Progress Items Chart</span>
						</a>
					</li>
					<li class="sidebar-dropdown-item">
						<a asp-controller="Users" asp-action="Index" class="sidebar-link">
							<span class="nav-icon">
								<i class="fa-solid fa-grip-lines"></i>
							</span> <span class="sidebar-txt">Progress Items</span>
						</a>
					</li>
					<li class="sidebar-dropdown-item">
						<a asp-controller="Users" asp-action="Index" class="sidebar-link">
							<span class="nav-icon">
								<i class="fa-solid fa-grip-lines"></i>
							</span> <span class="sidebar-txt">Bank/Branch</span>
						</a>
					</li>
					<li class="sidebar-dropdown-item">
						<a asp-controller="Users" asp-action="Index" class="sidebar-link">
							<span class="nav-icon">
								<i class="fa-solid fa-grip-lines"></i>
							</span> <span class="sidebar-txt">Contractors</span>
						</a>
					</li>
					<li class="sidebar-dropdown-item">
						<a asp-controller="Users" asp-action="Index" class="sidebar-link">
							<span class="nav-icon">
								<i class="fa-solid fa-grip-lines"></i>
							</span> <span class="sidebar-txt">Road Naming</span>
						</a>
					</li>
					<li class="sidebar-dropdown-item">
						<a asp-controller="Users" asp-action="Index" class="sidebar-link">
							<span class="nav-icon">
								<i class="fa-solid fa-grip-lines"></i>
							</span> <span class="sidebar-txt">Bid Type</span>
						</a>
					</li>
					<li class="sidebar-dropdown-item">
						<a asp-controller="Users" asp-action="Index" class="sidebar-link">
							<span class="nav-icon">
								<i class="fa-solid fa-grip-lines"></i>
							</span> <span class="sidebar-txt">Contract Categories</span>
						</a>
					</li>
					<li class="sidebar-dropdown-item">
						<a asp-controller="Users" asp-action="Index" class="sidebar-link">
							<span class="nav-icon">
								<i class="fa-solid fa-grip-lines"></i>
							</span> <span class="sidebar-txt">Departments/Units</span>
						</a>
					</li>
					<li class="sidebar-dropdown-item">
						<a asp-controller="Users" asp-action="Index" class="sidebar-link">
							<span class="nav-icon">
								<i class="fa-solid fa-grip-lines"></i>
							</span> <span class="sidebar-txt">Documents Category</span>
						</a>
					</li>
					<li class="sidebar-dropdown-item">
						<a asp-controller="Users" asp-action="Index" class="sidebar-link">
							<span class="nav-icon">
								<i class="fa-solid fa-grip-lines"></i>
							</span> <span class="sidebar-txt">Day Works Setup</span>
						</a>
					</li>
					<li class="sidebar-dropdown-item">
						<a asp-controller="Users" asp-action="Index" class="sidebar-link">
							<span class="nav-icon">
								<i class="fa-solid fa-grip-lines"></i>
							</span> <span class="sidebar-txt">Districts Setup</span>
						</a>
					</li>
					<li class="sidebar-dropdown-item">
						<a asp-controller="Users" asp-action="Index" class="sidebar-link">
							<span class="nav-icon">
								<i class="fa-solid fa-grip-lines"></i>
							</span> <span class="sidebar-txt">Work Weightings</span>
						</a>
					</li>

				</ul>
			</li>
			<li class="sidebar-item has-sub">
				<a role="button" class="sidebar-link-group-title show">Security</a>
				<ul class="sidebar-link-group">

					<li class="sidebar-dropdown-item">
						<a asp-controller="Setup" asp-action="Bank" class="sidebar-link">
							<span class="nav-icon">
								<i class="fa-solid fa-grip-lines"></i>
							</span> <span class="sidebar-txt">Manage - Users</span>
						</a>
					</li>
					<li class="sidebar-dropdown-item">
						<a asp-controller="Setup" asp-action="Bank" class="sidebar-link">
							<span class="nav-icon">
								<i class="fa-solid fa-grip-lines"></i>
							</span> <span class="sidebar-txt">Extended Users</span>
						</a>
					</li>
					<li class="sidebar-dropdown-item">
						<a asp-controller="Setup" asp-action="Bank" class="sidebar-link">
							<span class="nav-icon">
								<i class="fa-solid fa-grip-lines"></i>
							</span> <span class="sidebar-txt">Error Log</span>
						</a>
					</li>
					<li class="sidebar-dropdown-item">
						<a asp-controller="Setup" asp-action="Bank" class="sidebar-link">
							<span class="nav-icon">
								<i class="fa-solid fa-grip-lines"></i>
							</span> <span class="sidebar-txt">PV Reversal</span>
						</a>
					</li>
					<li class="sidebar-dropdown-item">
						<a asp-controller="Setup" asp-action="Bank" class="sidebar-link">
							<span class="nav-icon">
								<i class="fa-solid fa-grip-lines"></i>
							</span> <span class="sidebar-txt">Bid Reversal</span>
						</a>
					</li>
					<li class="sidebar-dropdown-item">
						<a asp-controller="Users" asp-action="Index" class="sidebar-link">
							<span class="nav-icon">
								<i class="fa-solid fa-grip-lines"></i>
							</span> <span class="sidebar-txt">Contract Reversal</span>
						</a>
					</li>
					<li class="sidebar-dropdown-item">
						<a asp-controller="Users" asp-action="Index" class="sidebar-link">
							<span class="nav-icon">
								<i class="fa-solid fa-grip-lines"></i>
							</span> <span class="sidebar-txt">User Authentication</span>
						</a>
					</li>
					<li class="sidebar-dropdown-item">
						<a asp-controller="Users" asp-action="Index" class="sidebar-link">
							<span class="nav-icon">
								<i class="fa-solid fa-grip-lines"></i>
							</span> <span class="sidebar-txt">Audit Users Logins</span>
						</a>
					</li>
					<li class="sidebar-dropdown-item">
						<a asp-controller="Users" asp-action="Index" class="sidebar-link">
							<span class="nav-icon">
								<i class="fa-solid fa-grip-lines"></i>
							</span> <span class="sidebar-txt">User Status Admin</span>
						</a>
					</li>


				</ul>
			</li>
			<li class="sidebar-item has-sub">
				<a role="button" class="sidebar-link-group-title show">Developer</a>
				<ul class="sidebar-link-group">

					<li class="sidebar-dropdown-item">
						<a asp-controller="Setup" asp-action="Bank" class="sidebar-link">
							<span class="nav-icon">
								<i class="fa-solid fa-grip-lines"></i>
							</span> <span class="sidebar-txt">Menu Groups</span>
						</a>
					</li>
					<li class="sidebar-dropdown-item">
						<a asp-controller="Setup" asp-action="Bank" class="sidebar-link">
							<span class="nav-icon">
								<i class="fa-solid fa-grip-lines"></i>
							</span> <span class="sidebar-txt">Main Menus</span>
						</a>
					</li>
					<li class="sidebar-dropdown-item">
						<a asp-controller="Setup" asp-action="Bank" class="sidebar-link">
							<span class="nav-icon">
								<i class="fa-solid fa-grip-lines"></i>
							</span> <span class="sidebar-txt">Sub Menus</span>
						</a>
					</li>
					<li class="sidebar-dropdown-item">
						<a asp-controller="Setup" asp-action="Bank" class="sidebar-link">
							<span class="nav-icon">
								<i class="fa-solid fa-grip-lines"></i>
							</span> <span class="sidebar-txt">Role Menus</span>
						</a>
					</li>
					<li class="sidebar-dropdown-item">
						<a asp-controller="Setup" asp-action="Bank" class="sidebar-link">
							<span class="nav-icon">
								<i class="fa-solid fa-grip-lines"></i>
							</span> <span class="sidebar-txt">Roles Management</span>
						</a>
					</li>
					<li class="sidebar-dropdown-item">
						<a asp-controller="Users" asp-action="Index" class="sidebar-link">
							<span class="nav-icon">
								<i class="fa-solid fa-grip-lines"></i>
							</span> <span class="sidebar-txt">Modules</span>
						</a>
					</li>
					<li class="sidebar-dropdown-item">
						<a asp-controller="Users" asp-action="Index" class="sidebar-link">
							<span class="nav-icon">
								<i class="fa-solid fa-grip-lines"></i>
							</span> <span class="sidebar-txt">Global Settings</span>
						</a>
					</li>
					<li class="sidebar-dropdown-item">
						<a asp-controller="Users" asp-action="Index" class="sidebar-link">
							<span class="nav-icon">
								<i class="fa-solid fa-grip-lines"></i>
							</span> <span class="sidebar-txt">Global Settings Ex</span>
						</a>
					</li>


				</ul>
			</li>
		</ul>
	</div>
</div>