<div class="main-sidebar horizontal-menu">
    @* <div class="main-menu"> *@
    @*     <ul class="sidebar-menu scrollable"> *@
    @*         <li class="sidebar-item"> *@
    @*             <a role="button" class="sidebar-link-group-title">Navigation</a> *@
    @*             <ul class="sidebar-link-group"> *@
    @*                 <li class="sidebar-dropdown-item"> *@
	   @*                  <a href="#" class="sidebar-link"> *@
		  @*                   <span class="nav-icon"> *@
			 @*                    <i class="fa-light fa-cart-shopping-fast"></i> *@
		  @*                   </span> <span class="sidebar-txt">Tenders</span> *@
	   @*                  </a> *@
    @*                 </li> *@
    @*                 <li class="sidebar-dropdown-item"> *@
	   @*                  <a href="#" class="sidebar-link"> *@
		  @*                   <span class="nav-icon"> *@
			 @*                    <i class="fa-light fa-credit-card"></i> *@
		  @*                   </span> <span class="sidebar-txt">Payments</span> *@
	   @*                  </a> *@
    @*                 </li> *@
    @*                 <li class="sidebar-dropdown-item"> *@
	   @*                  <a  href="~/Setups" class="sidebar-link"> *@
		  @*                   <span class="nav-icon"> *@
			 @*                    <i class="fa-light fa-gear"></i> *@
		  @*                   </span> <span class="sidebar-txt">Setups</span> *@
	   @*                  </a> *@
    @*                 </li> *@
    @*             </ul> *@
    @*         </li> *@
    @*     </ul> *@
    @* </div> *@
</div>