<div class="main-sidebar">
	<div class="main-menu">
		<ul class="sidebar-menu scrollable">
			<li class="sidebar-item has-sub">
				<a asp-action="Index" role="button" class="sidebar-link-group-title show">Dashboard</a>
			</li>
			<li class="sidebar-item has-sub">
				<a role="button" class="sidebar-link-group-title show">Tender Preparation</a>
				<ul class="sidebar-link-group">

					<li class="sidebar-dropdown-item">
						<a asp-controller="TenderPreparation" asp-action="TenderGeneralInfo" class="sidebar-link">
							<span class="nav-icon">
								<i class="fa-solid fa-grip-lines"></i>
							</span> <span class="sidebar-txt">General Information</span>
						</a>
					</li>
					<li class="sidebar-dropdown-item">
						<a asp-controller="TenderPreparation" asp-action="TenderSubContractors" class="sidebar-link">
							<span class="nav-icon">
								<i class="fa-solid fa-grip-lines"></i>
							</span> <span class="sidebar-txt">Nominated Sub-Contractor</span>
						</a>
					</li>
					<li class="sidebar-dropdown-item">
						<a asp-controller="TenderPreparation" asp-action="TenderWeightings" class="sidebar-link">
							<span class="nav-icon">
								<i class="fa-solid fa-grip-lines"></i>
							</span> <span class="sidebar-txt">Weightings/Coefficients</span>
						</a>
					</li>
					<li class="sidebar-dropdown-item">
						<a asp-controller="TenderPreparation" asp-action="TenderContractClauses" class="sidebar-link">
							<span class="nav-icon">
								<i class="fa-solid fa-grip-lines"></i>
							</span> <span class="sidebar-txt">Contract Clauses</span>
						</a>
					</li>
					<li class="sidebar-dropdown-item">
						<a asp-controller="TenderPreparation" asp-action="TenderLots" class="sidebar-link">
							<span class="nav-icon">
								<i class="fa-solid fa-grip-lines"></i>
							</span> <span class="sidebar-txt">Lot Details</span>
						</a>
					</li>
					<li class="sidebar-dropdown-item">
						<a asp-controller="TenderPreparation" asp-action="TenderBillHeaders" class="sidebar-link">
							<span class="nav-icon">
								<i class="fa-solid fa-grip-lines"></i>
							</span> <span class="sidebar-txt">Bill Headers</span>
						</a>
					</li>
					<li class="sidebar-dropdown-item">
						<a asp-controller="TenderPreparation" asp-action="TenderBillSubHeaders" class="sidebar-link">
							<span class="nav-icon">
								<i class="fa-solid fa-grip-lines"></i>
							</span> <span class="sidebar-txt">Bill Sub-Headers</span>
						</a>
					</li>
					<li class="sidebar-dropdown-item">
						<a asp-controller="TenderPreparation" asp-action="TenderBOQ" class="sidebar-link">
							<span class="nav-icon">
								<i class="fa-solid fa-grip-lines"></i>
							</span> <span class="sidebar-txt">Tender BOQ</span>
						</a>
					</li>
					<li class="sidebar-dropdown-item">
						<a asp-controller="TenderPreparation" asp-action="TenderDayWorks" class="sidebar-link">
							<span class="nav-icon">
								<i class="fa-solid fa-grip-lines"></i>
							</span> <span class="sidebar-txt">Day Works</span>
						</a>
					</li>
					<li class="sidebar-dropdown-item">
						<a asp-controller="TenderPreparation" asp-action="TenderBOQSummary" class="sidebar-link">
							<span class="nav-icon">
								<i class="fa-solid fa-grip-lines"></i>
							</span> <span class="sidebar-txt">Tender BOQ Summary</span>
						</a>
					</li>
					<li class="sidebar-dropdown-item">
						<a asp-controller="TenderPreparation" asp-action="TenderSubmission" class="sidebar-link">
							<span class="nav-icon">
								<i class="fa-solid fa-grip-lines"></i>
							</span> <span class="sidebar-txt">Submit Tender</span>
						</a>
					</li>
					<li class="sidebar-dropdown-item">
						<a asp-controller="TenderPreparation" asp-action="TenderReplication" class="sidebar-link">
							<span class="nav-icon">
								<i class="fa-solid fa-grip-lines"></i>
							</span> <span class="sidebar-txt">Tender Replication</span>
						</a>
					</li>

				</ul>
			</li>
			<li class="sidebar-item has-sub">
				<a role="button" class="sidebar-link-group-title show">Tender Evaluation</a>
				<ul class="sidebar-link-group">

					<li class="sidebar-dropdown-item">
						<a asp-controller="TenderEvaluation" asp-action="TenderBidders" class="sidebar-link">
							<span class="nav-icon">
								<i class="fa-solid fa-grip-lines"></i>
							</span> <span class="sidebar-txt">Tenderers</span>
						</a>
					</li>
					<li class="sidebar-dropdown-item">
						<a asp-controller="TenderEvaluation" asp-action="TenderReadout" class="sidebar-link">
							<span class="nav-icon">
								<i class="fa-solid fa-grip-lines"></i>
							</span> <span class="sidebar-txt">Readout Info</span>
						</a>
					</li>
					<li class="sidebar-dropdown-item">
						<a asp-controller="TenderEvaluation" asp-action="TenderEngineerEstimate" class="sidebar-link">
							<span class="nav-icon">
								<i class="fa-solid fa-grip-lines"></i>
							</span> <span class="sidebar-txt">Engineer Estimate</span>
						</a>
					</li>


				</ul>
			</li>
		</ul>
	</div>
</div>