@using CMS.Extensions
@using DevExtreme.AspNet.Mvc
@* <script src="~/js/moment.js"></script>
<link href="~/css/custom/formstyle.css" rel="stylesheet" />
 *@
@using CMS.Models

@(Html.DevExtreme().TabPanel()
	.ID("tabpanel-container")
	.SelectedIndex(0)
	.Loop(false)
	.AnimationEnabled(true)
	.SwipeEnabled(true)
	.Width("100%")
	.Items(tabs =>
	{
		tabs.Add().Title("FIRST DIVISION")
			.Template(@<text>

				           <div style="padding:20px">
					           @(Html.DevExtreme().DataGrid<StandardAct>()
						           .ID("gridDivisionalOffice")
						           .DefaultGridProperties()
						           .Columns(columns =>
						           {
							           columns.AddFor(m => m.Id).Visible(false);
							           columns.AddFor(m => m.Code).Width("20%");

							           columns.AddFor(m => m.Name).Caption("Description").Width("60%");

							           columns.AddFor(m => m.Active).Width("20%");

							           columns.Add()
								           .Width(80)
								           .Caption("Action")
								           .Type(GridCommandColumnType.Buttons)
								           .Buttons(b => { b.Add().Icon("fa-solid fa-pen-to-square"); })
								           .Buttons(b => { b.Add().Icon("fa-solid fa-trash-can"); });
						           })
						           .Editing(e => e
							           .AllowAdding(true)
							           .AllowUpdating(true)
							           .AllowDeleting(true)
						           )
						           .Toolbar(t => t.Items(items =>
							           {
								           items.Add()
									           .Location(ToolbarItemLocation.Before)
									           .Widget(w => w.Button()
										           .Text("Add New")
										           .Type(ButtonType.Default)
										           .StylingMode(ButtonStylingMode.Contained)
										           .Icon("fa-solid fa-plus")
										           .HoverStateEnabled(true)
									           );

								           items.Add()
									           .Location(ToolbarItemLocation.After)
									           .Widget(w => w.Button()
										           .Text("Refresh")
										           .Type(ButtonType.Default)
										           .StylingMode(ButtonStylingMode.Outlined)
										           .Icon("fa-solid fa-arrows-rotate")
										           .HoverStateEnabled(true)
									           );

								           items.Add().Name("searchPanel");
							           })
						           )
					           )
				           </div>

			           </text>);

		tabs.Add().Title("STANDARD WORKS")
			.Template(@<text>

				           <div style="padding:20px">
					           @(Html.DevExtreme().DataGrid<StandardAct>()
						           .DefaultGridProperties()
						           .ID("gridDivisionalOffice1")
						           .Columns(columns =>
						           {
							           columns.AddFor(m => m.Id).Visible(false);
							           columns.AddFor(m => m.Code).Width("20%");

							           columns.AddFor(m => m.Name).Caption("Description").Width("60%");

							           columns.AddFor(m => m.Active).Width("20%");

							           columns.Add()
								           .Width(80)
								           .Caption("Action")
								           .Type(GridCommandColumnType.Buttons)
								           .Buttons(b => { b.Add().Icon("fa-solid fa-pen-to-square"); })
								           .Buttons(b => { b.Add().Icon("fa-solid fa-trash-can"); });
						           })
						           .Editing(e => e.EnableAllCrud())
						           .Toolbar(t => t
							           .Items(items =>
							           {
								           items.Add()
									           .Location(ToolbarItemLocation.Before)
									           .Widget(w => w.CustomToolButton()
										           .Text("Add New")
										           .Icon("fa-solid fa-plus")
									           );

								           items.Add()
									           .Location(ToolbarItemLocation.After)
									           .Widget(w => w.CustomToolButton()
										           .Text("Refresh")
										           .Icon("fa-solid fa-arrows-rotate")
									           );

								           items.Add().Name("searchPanel");
							           })
						           )
					           )
				           </div>

			           </text>);
		;
	})
)